# ignore the `data`, `results`, and `example-results` directories and the files within
data/
results/
logs/
project-specific-files/
example-results/sample02

# ignore hidden `DS_Store`
.DS_Store
.Rproj.user

# ignore hidden snakemake logs
.snakemake
# ignore timestamps
.snakemake_timestamp
