# ignore the `data` and `results` directories and the files within
/data/
/results/

# ignore hidden `DS_Store`
.DS_Store
.Rproj.user

# ignore hidden snakemake logs
.snakemake
# ignore timestamps
.snakemake_timestamp

# ignore files relevant to specific projects
/project-metadata/gawad-library-metadata.tsv
gawad-config.yaml